In [1]:
import matplotlib
import pandas

In [120]:
data = pandas.read_table('1335.vdb.tab', sep = '\t', header = 0)
data = data.sort_values(by = ['OTUConTaxonomy'])
data = data.reset_index(drop=True)

list_taxon=['Domaine','Embranchement','Classe','Ordre',"Famille","Genre"]
for i in range(6):
    colname = list_taxon[i]
    data[colname]=data.apply(lambda row:row.OTUConTaxonomy.split(";")[i],axis=1)
    
data['OTU'] = data.apply(lambda row:row.OTUNumber.replace('Otu',''), axis=1)
data = data.drop(columns=['OTUConTaxonomy','OTUNumber'])
data

,door_in_1,door_in_2,faucet_handle_1,faucet_handle_2,sink_floor_1,sink_floor_2,soap_dispenser_1,stall_in_1,toilet_floor_1,toilet_floor_2,...,toilet_flush_handle_2,toilet_seat_1,toilet_seat_2,Domaine,Embranchement,Classe,Ordre,Famille,Genre,OTU
0,0,0,0,0,0,0,0,0,0,2,...,0,0,0,Bacteria(100),Acidobacteria(100),Acidobacteria_Gp1(100),Gp1(100),unclassified(100),unclassified(100),01745
1,0,0,0,0,3,0,0,0,0,0,...,0,0,0,Bacteria(100),Acidobacteria(100),Acidobacteria_Gp1(100),Gp1(100),unclassified(100),unclassified(100),01118
2,0,0,0,0,3,4,0,0,9,0,...,0,0,0,Bacteria(100),Acidobacteria(100),Acidobacteria_Gp16(100),Gp16(100),unclassified(100),unclassified(100),00220
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,Bacteria(100),Acidobacteria(100),Acidobacteria_Gp16(100),Gp16(100),unclassified(100),unclassified(100),02978
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,Bacteria(100),Acidobacteria(100),Acidobacteria_Gp16(100),Gp16(100),unclassified(100),unclassified(100),02405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4100,0,0,0,0,0,0,0,0,0,0,...,0,0,0,Bacteria(100),unclassified(100),unclassified(100),unclassified(100),unclassified(100),unclassified(100),03538
4101,0,0,0,0,1,0,0,0,0,0,...,0,0,0,Bacteria(100),unclassified(100),unclassified(100),unclassified(100),unclassified(100),unclassified(100),03529
4102,0,0,0,0,0,0,0,0,0,1,...,0,0,0,Bacteria(100),unclassified(80),unclassified(80),unclassified(80),unclassified(80),unclassified(80),00726
4103,0,0,0,0,0,1,0,0,2,0,...,0,3,0,Bacteria(100),unclassified(84),unclassified(84),unclassified(84),unclassified(84),unclassified(84),00601
4104,5,0,0,3,1,0,13,19,0,2,...,0,5,1,Bacteria(100),unclassified(88),unclassified(88),unclassified(88),unclassified(88),unclassified(88),00101

,OTUNumber,door_in_1,door_in_2,faucet_handle_1,faucet_handle_2,sink_floor_1,sink_floor_2,soap_dispenser_1,stall_in_1,toilet_floor_1,...,toilet_flush_handle_2,toilet_seat_1,toilet_seat_2,Domaine,Embranchement,Classe,Ordre,Famille,Genre,OTU
0,Otu01745,0,0,0,0,0,0,0,0,0,...,0,0,0,Bacteria(100),Acidobacteria(100),Acidobacteria_Gp1(100),Gp1(100),unclassified(100),unclassified(100),01745
1,Otu01118,0,0,0,0,3,0,0,0,0,...,0,0,0,Bacteria(100),Acidobacteria(100),Acidobacteria_Gp1(100),Gp1(100),unclassified(100),unclassified(100),01118
2,Otu00220,0,0,0,0,3,4,0,0,9,...,0,0,0,Bacteria(100),Acidobacteria(100),Acidobacteria_Gp16(100),Gp16(100),unclassified(100),unclassified(100),00220
3,Otu02978,0,0,0,0,1,0,0,0,0,...,0,0,0,Bacteria(100),Acidobacteria(100),Acidobacteria_Gp16(100),Gp16(100),unclassified(100),unclassified(100),02978
4,Otu02405,0,0,0,0,0,0,0,0,0,...,0,0,0,Bacteria(100),Acidobacteria(100),Acidobacteria_Gp16(100),Gp16(100),unclassified(100),unclassified(100),02405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4100,Otu03538,0,0,0,0,0,0,0,0,0,...,0,0,0,Bacteria(100),unclassified(100),unclassified(100),unclassified(100),unclassified(100),unclassified(100),03538
4101,Otu03529,0,0,0,0,1,0,0,0,0,...,0,0,0,Bacteria(100),unclassified(100),unclassified(100),unclassified(100),unclassified(100),unclassified(100),03529
4102,Otu00726,0,0,0,0,0,0,0,0,0,...,0,0,0,Bacteria(100),unclassified(80),unclassified(80),unclassified(80),unclassified(80),unclassified(80),00726
4103,Otu00601,0,0,0,0,0,1,0,0,2,...,0,3,0,Bacteria(100),unclassified(84),unclassified(84),unclassified(84),unclassified(84),unclassified(84),00601
4104,Otu00101,5,0,0,3,1,0,13,19,0,...,0,5,1,Bacteria(100),unclassified(88),unclassified(88),unclassified(88),unclassified(88),unclassified(88),00101